<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="{$CDN_URL}css/reset.css?{$CSS_VERSION}" rel="stylesheet" type="text/css" />
		<link href="{$CDN_URL}css/admin/main.css?{$CSS_VERSION}" rel="stylesheet" type="text/css" />
		<link href="{$CDN_URL}js/easyui/themes/metro/easyui.css?{$CSS_VERSION}" rel="stylesheet" type="text/css" />
		<link href="{$CDN_URL}js/easyui/themes/icon.css?{$CSS_VERSION}" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="{$CDN_URL}js/jquery.min.2.0.js?{$JS_VERSION}"></script>
		<script type="text/javascript" src="{$CDN_URL}js/easyui/jquery.easyui.min.js?{$JS_VERSION}"></script>
		<script type="text/javascript" src="{$CDN_URL}js/easyui/locale/easyui-lang-zh_CN.js?{$JS_VERSION}"></script>
		<title>{$html_title}</title>
	</head>

	<body>
