<!doctype html>
<html>
<head>
<title>后台管理 {$html_title}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<frameset rows="0,*" framespacing="0" border="0">
  <frame src="" id="header-frame" name="header-frame" frameborder="no" scrolling="no">
	<!--   <frameset cols="180, 10, *" framespacing="0" border="0" id="frame-body"> -->
	<frameset cols="120,*" framespacing="0" border="0" id="frame-body">
    <frame src="./index.php?at=admin&st=menu" id="menu-frame" name="menu-frame" frameborder="no" scrolling="auto">
    <!-- frame src="main.php?act=admin_index&st=drag" id="drag-frame" name="drag-frame" frameborder="no" scrolling="no" -->
    <frame src="./index.php?at=admin&st=rightindex" id="main-frame" name="main-frame" frameborder="no" scrolling="auto">
  </frameset>
</frameset><noframes></noframes>
</head>
<body>
</body>
</html>